FrmPIE/Web References/WebReference208/UserLoginCheck.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="WFUserSecondPwdChk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strLocation" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WFUserSecondPwdChkResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WFUserSecondPwdChkResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="WFUserSecondPwdChkSoapIn">
    <wsdl:part name="parameters" element="tns:WFUserSecondPwdChk" />
  </wsdl:message>
  <wsdl:message name="WFUserSecondPwdChkSoapOut">
    <wsdl:part name="parameters" element="tns:WFUserSecondPwdChkResponse" />
  </wsdl:message>
  <wsdl:portType name="UserLoginCheckSoap">
    <wsdl:operation name="WFUserSecondPwdChk">
      <wsdl:input message="tns:WFUserSecondPwdChkSoapIn" />
      <wsdl:output message="tns:WFUserSecondPwdChkSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserLoginCheckSoap" type="tns:UserLoginCheckSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WFUserSecondPwdChk">
      <soap:operation soapAction="http://tempuri.org/WFUserSecondPwdChk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserLoginCheckSoap12" type="tns:UserLoginCheckSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="WFUserSecondPwdChk">
      <soap12:operation soapAction="http://tempuri.org/WFUserSecondPwdChk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserLoginCheck">
    <wsdl:port name="UserLoginCheckSoap" binding="tns:UserLoginCheckSoap">
      <soap:address location="http://142.2.70.208/WFService/External/UserLogin/UserLoginCheck.asmx" />
    </wsdl:port>
    <wsdl:port name="UserLoginCheckSoap12" binding="tns:UserLoginCheckSoap12">
      <soap12:address location="http://142.2.70.208/WFService/External/UserLogin/UserLoginCheck.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>